/** Gradiante Linea **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.box {
    position: relative;
    top: 3vw;
    width: 80%;
    height: 120px;
    margin: auto;
}

div.box .ej1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(red, yellow);
}


div.box .ej2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,red, yellow);
}


div.box .ej3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,red, yellow);
}


div.box .ej4 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,red, yellow);
}


div.box .ej5 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#aeaeae,#7e7e7e, #ffffff);
}


div.box .ej6 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #aeaeae,#7e7e7e, #ffffff, red,yellow, green, darkblue, brown, chocolate);
}

div.box .ej7 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.0), rgba(163, 158, 158, 0.7));
}