/** SELECTORES DE PSEUDO-ELEMENTOS **/

/* Agrega contenido despues del elemento especificado */
p#p-after-before::after {
    content: " - After ***";
    color: red;
}

/* Agrega contenido antes del elemento especificado */
p#p-after-before::before {
    content: "*** Before - ";
    color: blue;
}

/* Selecciona la primera linea del elemento especificado */
p#p-line-letter::first-line {
    color: red;
}

/* Selecciona la primera letra del elemento especificado */
p#p-line-letter::first-letter {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

::selection {
    color: white;
    background-color: green;
}

::marker {
    color: violet;
}