/** gradiante conic **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.box {
    width: 80%;
    height: 100%;
    margin: auto;
}

div.box .ej1 {
    width: 100%;
    height: 100%;
    background-image: conic-gradient(red, yellow, black);
}

div.box .ej2 {
    width: 100%;
    height: 100%;
    background-image: conic-gradient(red, yellow, green, black, blue);
}


div.box .ej3 {
    width: 100%;
    height: 100%;
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}

div.box .ej4 {
    width: 20%;
    height: 40%;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
}

div.box .ej5 {
    width: 20%;
    height: 40%;
    background-image: conic-gradient(from 90deg, red, yellow, green);
    border-radius: 50%;
}


div.box .ej6 {
    width: 20%;
    height: 40%;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    border-radius: 50%;
}