/** Dropdowns **/

div.bkg {
    width: 60%;
    height: 650px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.picture{
    float: left;
    margin: 5px;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
}

div.picture:hover {
    box-shadow: 4px 2px 10px 0px rgba(0, 128, 0, 0.3) ;
    border: 1px solid black;
}

div.picture img {
    width: 100%;
    height: auto;
}

div.picture span {
    display: block;
    text-align: center;
    padding: 15px;
}
