/** Formulario **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* !Estilos para el formulario 1 */
.form-1 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid red;
}

/* !Estilos para el formulario 2 */
.form-2 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    background-color: #1ead72;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #000;
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

.form-2 input[type=text]:focus {
    background-color: #e9e9e9;
    color: rgb(124, 124, 124);
}

/* !Estilos para el formulario 3 */
.form-3 input[type=text] {
    width: 10%;
    box-sizing: border-box;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    display: block;
    transition: width 0.4s ease-in-out;
}

.form-3 input[type=text] {
    background-image: url("https://www.w3schools.com/css/searchicon.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 12px 12px 40px;
}

.form-3 input[type=text]:focus {
    width: 45%;
}

/* !Estilos para el formulario 4 */
.form-4 textarea {
    width: 100%;
    height: 140px;
    padding: 14px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

/* !Estilos para el formulario 5 */
.form-5 select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    color: #8a8a8a;
    background-color: #fff;
}
