/** gradiantes **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
}

div.box {
    width: 220px;
    height: 220px;
    margin: auto;
}

div.box .ej1 {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 100, 100);
    box-shadow: 10px 10px;
}

div.box .ej2 {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px #ccc;
}

div.box .ej3 {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 7px #ccc;
}

/* !Estilos para el card */
div.card {
    width: 20%;
    height: auto;
    box-shadow: 0 0 10px #999, 0 0 10px #bbbb;
}

div.card div span {
    /* Dimensiones */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    
    font-size: 44px;
    color: white;
    background-color: rgb(84, 185, 84);
    
}

div.card p {
    /* Dimensiones */
    margin: 0;
    padding: 0;
    display: block;
    padding: 20px;

    text-align: center;
}
