/** ICONS **/

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

p.icons i {
    /* Cambiar el tamañano del icono*/
    font-size: 60px; 

    /* Cambiar el color del icono*/
    color: white;

    /* Cambiar el puntero del icono*/
    cursor: pointer;
}