/** gradiantes **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.box {
    width: 80%;
    height: 100%;
    margin: auto;
}

div.box .ej1 {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(128, 128, 128), rgb(48, 48, 48));
}

div.box .ej2 {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#aaa 5%, #ccc 15%, #eee 60%);
}

div.box .ej3 {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #eee, #bbb, #999 );
}

div.box .ej4 {
    width: 100%;
    height: 100%;
    background-image: repeating-radial-gradient(#aaa, #ccc 10%, #eee 15%);
}