/** TABLES **/

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* ! Bordes */
table.table-border, table.table-border th, table.table-border td  {
    border: 1px solid black;
}

table.table-border {
    border-collapse: collapse;
}

/* ! Tamaños */
table.table-size {
    background-color: red;
    width: 50%;
}

table.table-size th {
    background-color: green;
    height: 70px;
}

/* ! Alineación */
table.table-align {
    text-align: center;
}

table.table-align td {
    height: 60px;
    vertical-align: center;
}

/* !Estilos */
table.table-style th, table.table-style td {
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

table.table-style tr:hover {
    background-color: yellow;
}

table.table-style th {
    background-color: #04AA6D;
    color: white;
}
