/** OVERFLOW **/

/*
La propiedad de desbordamiento especifica si recortar el contenido
o agregar barras de desplazamiento cuando el contenido de un
elemento es demasiado grande para caber en el área especificada.
*/

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

span.d-inline {
    display: inline;
    color: #fff;
    background-color: blue;   
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

span.d-inline-block {
    display: inline-block;
    color: #fff;
    background-color:rgba(0, 128, 0, 0.3);
    width: 240px;
    height: 70px;
    padding: 5px;
    border: 2px solid red;
}

span.d-block {
    display: block;
    color: black;
    background-color:rgba(108, 255, 231, 0.3);
    width: 240px;
    height: 70px;
    padding: 5px;
    border: 2px solid red;
}