/** POSITION relativa y absoluta **/

div.bkg {
    width: 40%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.container  {
    position: relative;
    width: 100%;
    height: 100%;
}

div.container img  {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

/* !Texto centrado */
div.container div.centro {
    position: absolute;
    font-size: 24px;
    top: 50%;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* !Texto bottom right */
div.container div.b-right {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    
    /* Cambiar de posición */
    position: absolute;
    bottom: 0;
    right: 0;
}

/* !Texto bottom left */
div.container div.b-left {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    
    /* Cambiar de posición */
    position: absolute;
    bottom: 0;
    left: 0;
}

/* !Texto top left */
div.container div.t-left {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    
    /* Cambiar de posición */
    position: absolute;
    top: 0;
    left: 0;
}

/* !Texto top right */
div.container div.t-right {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    
    /* Cambiar de posición */
    position: absolute;
    top: 0;
    right: 0;
}
