/** TEXT **/

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

p.text {
    /* Especifica el tamaño del texto */
    font-size: 14px;

    /* Especifica el color del texto */
    color: white;

    /* Especifica la alineación del texto */
    text-align: center; /* center, bottom, top, right, left, justify */

    /* Especifica la decoración o estilo del texto */
    text-decoration: line-through; /* underline, line-through, overline */

    /* Especifica el tipo de escritura del texto */
    text-transform: uppercase; /* uppercase, lowercase, capitalize */

    /* Especifica el separación incial del texto */
    text-indent: 50px;

    /* Especifica el separación entre letras del texto */
    letter-spacing: 4px;

    /* Especifica la separación entre lineas del texto */
    line-height: 0.8;

    /* Especifica la separación entre palabra del texto */
    word-spacing: 20px;

    /* Especifica cómo se maneja el espacio en blanco dentro de un elemento. */
    white-space: nowrap;

    /* Establece una sombre para el texto*/
    text-shadow: 10px 10px 20px red;
}

p.direccion {
    /* Especifica el inicio de escritura */
    direction: rtl; /* ltr, rtl*/
    unicode-bidi: bidi-override; /* bidi-override, plaintext, embed */
}

p.shadow {
    font-size: 24px;
    color: white;

    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;   
}
