/** Dropdowns **/

div.bkg {
    width: 60%;
    height: 150px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* !Estilos para dropdowns 1 */
.drop-container-1 {
    position: relative;
    display: inline-block;
}

.drop-contenido-1 {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100%;

    border-radius: 60px;
    text-align: center;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-container-1:hover .drop-contenido-1 {
    display: block;
}

/* !Estilos para dropdowns 2 */
.dp-btn {
    border: none;
    padding: 10px;

    /* Establecer estilos opcionales */
    background-color: greenyellow;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}

.drop-container-2{
    position: relative;
    display: inline-block;
}

.dp-contenido{
    display: none;
    position: absolute;
    z-index: 3;

    /* Establecer estilos opcionales */
    width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dp-contenido a {
    padding: 14px 16px;
    display: block;

    /* Establecer estilos opcionales */
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

.dp-contenido a:hover {
    background-color: #f1f1f1;
}

.drop-container-2:hover .dp-contenido {
    display: block;
}

/* !Estilos para dropdowns 3 */
.dd-img { 
    position: relative;
    display: inline-block;
}

.dd-img .dd-content {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #fefefe;
    border-radius: 5px;
    border: 1px solid #666;
    top:10px;
    left:62px;
}

.dd-img:hover .dd-content{
    display: block;
}

.dd-img .dd-content div{
    padding: 7px;
    text-align: center;
    background-color: #cacaca;
    font-size: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}