/** Opacity **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
    color: #fff;
}

.el-img img{
    float: left;
    width: 20%;
    height: 220px;
    margin-left: 10px;
    opacity: 0.3;
    position: relative;
}

.el-img img:hover {
    opacity: 1;
    cursor: pointer;
    top: 10px;
    box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.3);
}

.bkg-img {
    background: url("https://wl-genial.cf.tsp.li/resize/728x/jpg/a11/767/ed9e385fb0a3a4cd4957aa9656.jpg");
    border: 2px solid black;
}

.bkg-p {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.bkg-p p{
    margin: 5%;
    font-weight: bold;
    color: #000;
}
