/** LINKS **/

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

a.link {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: red;
    border: 2px solid #f00;
    width: 120px;
    height: 20px;
}


a.link {    
    padding: 10px;
    margin: 10px;
    position: absolute;
}

a.link:hover{
    cursor: pointer;
    border: 2px solid #fff;
}