/** MARGIN **/

/*
Los márgenes se utilizan para crear 
espacio alrededor de los elementos, 
fuera de los bordes definidos.
*/

div.bkg {
    width: 60%;
    height: 60px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.margin {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

div.margin-two-value {
    /* [margin-top, margin-bottom] [margin-right, margin-left]*/
    margin: 20px 20px;
}

div.margin-shorthand {
    /* margin-top, margin-bottom, margin-right, margin-left */
    margin: 10px 2px 10px 2px ;
}
