/** Esquinas redondeadas **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.box {
    position: relative;
    top:10%;
    margin: auto;    
    width: 200px;
    background-color: #8e8e8e;
    height: 200px;
    text-align: center;
}

div.box span {
    display: block;
    text-align: center;
    padding-top: 45%;
    color: white;
    font-size: 12px;
}

div.ej-1 {
    border-radius: 24px;
}

div.ej-2 {
    border-radius: 15px 65px;
}

div.ej-3 {
    border-radius: 15px 65px 1010px;
}

div.ej-4 {
    border-radius: 15px 65px 1010px 1010px;
}