/** TABLES **/

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}