/** SELECTORES DE PSEUDO-CLASES **/

a:link {
    color: aquamarine;
}

a:visited {
    color: red;
}

a:hover {
    color: yellow;
}

a:active {
    color: blue;
}

button.btn-1:hover {
    color: red;
}

button:hover {
    font-size: 24px;
}

/*  Simple tooltip con hover */
small.msg-txt {
    display: none; /* Ocultar elemento */
    background-color: green; /* Cambiar color de fondo */
    color: white; /* Cambiar color de texto */
}

div.simple-tootip:hover small {
    display: block; /* Mostrar elemento */
}

/*  Seleccionar elementos de una lista */
/* ! Selecciona el primer elemento */
div ul:first-child li {
    display: none;
    color: red;
}

/* ! Selecciona el ultimo elemento */
div ul li:last-child {
    color: red;
}

/* ! Selecciona cada elemento li que es el segundo hijo de su padre */
div ul li:nth-child(2) {
    font-size: 24px;
}

/* ! Selecciona cada elemento li que es el único hijo de su padre */
div ul li:only-child{
    background-color: black;
    color: white;
}

/*  Seleccionar input */

input.input-txt:focus {
    color: fuchsia;
}

input:checked {
    width: 24px;
    height: 24px;
}

input:disabled {
    background-color: black;
    color: black;
}