/** Float **/

/*
La propiedad flotante de CSS especifica 
cómo debe flotar un elemento.

La propiedad clear CSS especifica qué 
elementos pueden flotar junto al elemento 
eliminado y en qué lado.
*/

div.bkg {
    width: 60%;
    height: 320px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.container,  div.container-ejemplo{
    width: 60%;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.3);
    color: white;
}

div.container > img {
    width:110px;
    height:110px;
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 100%;
}

div.container > p {
    padding:10px;
}

/* !Estilos para float right y left */
img.f-left{
    /*El elemento flota a la izquierda de su contenedor.*/
    float:left;
}

img.f-right{
    /*El elemento flota a la derecha de su contenedor.*/
    float:right;
}

/* !Estilos para float none y inherit */
img.f-none{
    /*El elemento no flota (se mostrará justo donde 
    aparece en el texto). Esto es predeterminado*/
    float:none;
}

img.f-inherit{
    /*El elemento hereda el valor flotante de su padre*/
    float:inherit;
}


/* !Estilos usando clear */
div.clear{
    border:4px solid red;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.3);
}

div.clear div{
    border:4px solid red;
    padding:5px;
    background-color: rgba(116, 239, 255, 0.3);
}

div.clear img {
    width: 170px;
    height: 170px;
    float: right;
}

div.clear .clear-right{
    /* El elemento se empuja debajo de los elementos
    flotantes a la derecha. */
    clear:right; 
}

div.clearfix::after{
    content: "";
    /* El elemento se empuja debajo de los elementos
    flotantes izquierdo y derecho */
    clear: both;
    display: table;
}


/* !Estilos para ejemplo de float */
div.container-ejemplo div{
    padding:10px;
    text-align:center;
    color:white;
    font-weight: bold;
    float: left;
}

div.container-ejemplo .div1 {
    background-color: red;
}


div.container-ejemplo .div2 {
    background-color: greenyellow;
}


div.container-ejemplo .div3 {
    background-color: blue;
}
