/** TEXT **/
/* Importar fuentes siempre desde aquí, al incio de todo */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

p.font {
    /* Establece el tipo de fuente */
    font-style: Roboto, Arial;

    /* Especifica si un texto debe mostrarse o no en letra minúscula. */
    font-variant: small-caps; /* normal, small-caps, initial, inherit */
    
    /* Establezca un peso de fuente diferente para tres párrafos. */
    font-weight: bold; /* normal, bold, 900, bolder, initial, inherit *

    /* Establece el tamaño de fuente */
    font-size: 24px;
}

p.font-style {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.fonts-1{
    font-family: Merriweather, serif;
    font-size: 32px;
    
}

.fonts-2{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.fonts-import-1{
    font-family: 'Fruktur', cursive;
}

.fonts-import-2{
    font-family: 'Indie Flower', 'Dancing Script', cursive;
}

p.fonts-shorthand{
    /* font-style, font-variant, font-weight, font-size/line-height, font-family */
    font: italic small-caps bold 12px/30px Georgia, serif;
}