/** Text Shadow **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.box {
    width: 80%;
    height: 100%;
    margin: auto;
}

div.box p.simple {
    border: none;
    padding: 0;
    margin: 0;

    font-size: 44px;
    
    /* Genera una sombra del texto */
    /* eje x, eje y, difuminado, color */
    text-shadow: 2px 2px 4px red;
}

div.box p.multiple {
    border: none;
    padding: 0;
    margin: 0;

    font-size: 44px;

    /* Genera una sombra del texto */
    /* eje x, eje y, difuminado, color */
    text-shadow: 2px 2px 2px red, 4px 4px 4px blue, 8px 8px 2px white;
}


div.box p.border {
    border: none;
    padding: 0;
    margin: 0;

    font-size: 44px;
    color: white;

    /* Genera una sombra del texto ( left, top, difuminado, color ) */
    /* izquierda, derecha, arriba, abajo */
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}
