/** OVERFLOW **/

/*
La propiedad de desbordamiento especifica si recortar el contenido
o agregar barras de desplazamiento cuando el contenido de un
elemento es demasiado grande para caber en el área especificada.
*/

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.over-container {
    width: 45%;
    height: 60%;
    border: 3px solid black;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

div.over-visible{
    /*El desbordamiento no está recortado.
    El contenido se renderiza fuera de la caja del elemento.*/
    overflow: visible; /* Es predeterminado. */
}

div.over-hidden{
    /*El desbordamiento se recorta y
    el resto del contenido será invisible*/
    overflow: hidden; 
}

div.over-scroll {
    /*El desbordamiento se recorta y 
    se agrega una barra de desplazamiento
    para ver el resto del contenido*/
    overflow: scroll; 
}

div.over-auto {
    /*Similar al desplazamiento, pero agrega barras de desplazamiento solo cuando es necesario*/
    overflow: auto; 
}