/** COMBINACION DE SELECTORES **/

/* Selector de descendientes. 
 selecciona todos los elementos h2 dentro de los elementos div
*/
ul li{
    font-size: 24px;
}

/* Selector de hijos. 
Selecciona todos los elementos label que son hijos de elemento div
*/
form > label{
    font-size: 14px;
}

/* Selector de hermanos adyacentes. 
Selecciona el primer elemento p que se coloca inmediatamente después de los elementos div:
*/
div#hermanos-adyacentes div + p {
    color: #00f;
}

/* Selector general de hermanos. 
Selecciona todos los elementos p que son los próximos hermanos de los elementos div:
*/
div.general-de-hermanos div ~ p {
    color: green;
}
