/** OVERFLOW **/

/*
La propiedad de desbordamiento especifica si recortar el contenido
o agregar barras de desplazamiento cuando el contenido de un
elemento es demasiado grande para caber en el área especificada.
*/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

.el-centrado, .txt-centrado{
    width: 50%;
    border: 1px solid red;
    background-color: white;
}

.el-centrado {
    margin: auto;
}

.txt-centrado {
    text-align: center;
}


.img-centrado {
    display: block;
    margin: 0 auto 0 auto;
}

/* !Alineación izquierda y derecha */
.bkg .left, .bkg .right{
    width: 20%;
    height: 220px;
    background-color: black;
    color: wheat;
    border-radius: 100%;
    text-align: center;
}

.bkg .left{
    position: absolute;
    left: 0;
}

.bkg .right{
    position: absolute;
    right: 0;
}

.c-v-padding {
    padding: 70px 0;
    border: 3px solid red;
}

.cv-ptext {
    padding: 77px 0;
    border: 3px solid red;
    text-align: center;
}

.cv-pt {
    position: relative;
    height: 100%;
    background-color: wheat;
}

.cv-pt p{
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -mns-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cv-fb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    border: 3px solid #f00;
}