/** POSITION **/

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.z-index{
    color: white;
    position: relative; /* Crear un contenedor para la posición absolute*/
}

div.z-index img{
    position: absolute;
    left: 100px;
    top: -10px;
    width: 120px;
    height: 120px;

    /* Uso de z-index*/
    z-index: -100; /* Envia la imagén al fondo de todos los elementos */
}

div.box-container{
    width: 100%;
    height: 100%;
    border: 4px double black;
    position: relative;
    left: 100px;
    top: 40px;
}

div.box-red,  div.box-green, div.box-white{
    width: 40%;
    height: 40%;
    text-align: center;
    color: black;
    border: 4px double black;
    opacity: 0.7;
}

div.box-white {
    width: 80%;
    height: 50%;
    background-color: white;
    position: relative;

    top: 10px;
    left: 10px;
    z-index: 10; /* la caja blanca estará de bajo de cuadro roja y verde */
}

div.box-red{
    background-color: red;
    position: absolute;
    
    left: 210px;
    top: 40px;
    z-index: 30;  /* la caja roja estará encima del cuadro blanco y verde */
}

div.box-green {
    background-color: greenyellow;
    position: absolute;
    
    top: -10px;
    left: 545px;
    z-index: 20; /* la caja verde estará encima del cuadro blanco */
}