/** POSITION **/

body {
    padding-bottom:2000px;
}

div.bkg {
    width: 60%;
    height: 220px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* Los elementos de posición estática 
no se ven afectados por las propiedades 
superior, inferior, izquierda y derecha. */
div.statica {
    position: static;
}


/* Establecer las propiedades superior, derecha, inferior e izquierda
 de un elemento en una posición relativa hará que se ajuste lejos 
 de su posición normal. El resto del contenido no se ajustará para 
 encajar en ningún espacio dejado por el elemento. */
div.relativa {
    position: relative;
    left: 130px;
    overflow-wrap: anywhere;
}

/* Un elemento con posición: fijo; Se coloca en relación con la ventana gráfica,
lo que significa que siempre permanece en el mismo lugar incluso si se desplaza 
la página. Las propiedades superior, derecha, inferior e izquierda se utilizan 
para colocar el elemento.*/
div.fixed {
    position: fixed;
    left: 130px;
    overflow-wrap: anywhere;
}

/* Un elemento con posición: absoluta; Está posicionado en relación con 
el antepasado posicionado más cercano (en lugar de posicionado en relación 
con la ventana gráfica, como fijo).
Sin embargo; Si un elemento de posición absoluta no tiene antepasados ​​
de posición, utiliza el cuerpo del documento y se mueve junto con 
el desplazamiento de la página.

Nota: Los elementos de posición absoluta se eliminan del flujo normal 
y pueden superponerse a elementos.*/
div.abs-relativa {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}


div.absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow-wrap: anywhere;
    border: 1px solid blue;
}

/*
Un elemento con posición: pegajoso; Se posiciona según la posición de desplazamiento del usuario.

Un elemento adhesivo alterna entre relativo y fijo, según la posición de desplazamiento. 
Se coloca en una posición relativa hasta que se alcanza una posición de desplazamiento determinada
 en la ventana gráfica, luego se 'pega' en su lugar (como posición: fija).
*/
div.sticky {
    position: sticky;
    top: 0;
    background-color: aquamarine;
    border: 1px solid blue;
}
