/** BACKGROUND **/

div.bkg {
    width: 60%;
    height: 60px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.outline {
    /* Especifica el tamaño o grosor del borde*/
    outline-width: 5px; 

    /* Especifica el estilo del borde*/
    outline-style: solid; /* solid, dotted, dashed, double, groove, none, hidden, ridge, inset, outset */
    outline-color:rgba(0, 128, 0, 0.3);

    /* Especifica un margen ente el borde */
    outline-offset: 5px;
}

div.outline-shorthand {
    /*  outline-width, outline-style, order-color  */
    outline: 5px solid #f00;
}
