/** Opacity **/

div.bkg {
    width: 60%;
    height: 250px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* !Estilos para nav 1 */
.nav-1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-1 li {
    float: left;
}

.nav-1 a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
}

.nav-1 a:hover:not(.active) {
    color: #fff;
    background-color:rgb(1, 192, 199);
}

.nav-1 .active{
    background-color:rgb(1, 192, 199);
}

/* !Estilos para nav 2 */
.nav-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #666;
    width:200px;
}

.nav-2 a {
    display: block;
    text-decoration: none;
    
    /* Establecer tamaño */
    width: 100%;
    height: 48px;
    
    /* Centrar texto*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    
    /* Establecer colores*/
    
    color:#fff;
}

.nav-2 a:hover:not(.active){
    background-color: #111
}

.nav-2 .active {
    background-color: #111;
}
