/** SELECTORES SIMPLES **/

/* Seleccionar elementos h1*/
h1 {
    color: #f00;
}

/* Seleccionar elementos span, small */
span, small {
    color: green;
}

/* Seleccionar por id */
#laravel {
    color: yellowgreen;
}

/* Seleccionar por class */
.text-blue {
    color: blue;
}

/* Seleccionar por elemento y su class */
h2.css {
    color: burlywood;
}

/* Seleccionar por elemento y su id */
p#css {
    color: gray;
}