/** Float **/

/*
La propiedad flotante de CSS especifica 
cómo debe flotar un elemento.

La propiedad clear CSS especifica qué 
elementos pueden flotar junto al elemento 
eliminado y en qué lado.
*/

div.bkg {
    width: 60%;
    height: 420px;
    background-color: rgba(0, 128, 0, 0.3);
}

/* !Estilos para el ejemplo 1 */
div.c-ejemplo1{
    box-sizing: border-box;
}

div.clearfix img{
    width:33.33%;
    height:100px;
    float: left;
    background-color: rgba(0,0,0,0.3);
}

div.c-ejemplo1 .clearfix{
    content: "";
    clear: both;
    display: table;
}

/* !Estilos para el ejemplo 2 */
.c-ejemplo2 *{
    box-sizing: border-box;
}

.c-ejemplo2 .header, .c-ejemplo2 .footer {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

.c-ejemplo2 .columna{
    float: left;
    padding: 15px;
}

.c-ejemplo2 .aside{
    width: 25%;
}

.c-ejemplo2 .contenido{
    width: 50%;
}

.c-ejemplo2 .aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-ejemplo2 .aside li{
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;

    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
}

.c-ejemplo2 .aside li:hover{
    cursor: pointer;
    background-color: rgba(201, 191, 59, 1);
}

.c-ejemplo2 .body::after{
    content: '';
    clear: both;
    display: table;
}

/* !Estilos para el ejemplo 3 */
.c-ejemplo3{
    position: relative;
    left: 100px;
    top: 50px;
}

.c-ejemplo3 .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-ejemplo3 .navbar li {
    float: left;
}

.c-ejemplo3 .navbar a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
}

.c-ejemplo3 .navbar a:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
    box-shadow: 10px 10px 10px #ccc;
    background-color: rgb(66, 64, 64);
}
