/** BACKGROUND **/

div.bkg {
    width: 40%;
    height: 460px;
}

div.img-interno {
    background-color: rgba(0, 128, 0, 0.3);
    background-image: url("img/images.jpeg");

    /*  Especifica el tamaño de la imagen de fondo  */
    background-size: 100px; /* tamaño, contain, auto*/

    /*  especifica la repetición del imagen de fondo  */
    background-repeat: repeat-y; /* no-repeat, repeat-x, repeat-y , space*/

    /*  especifica la posición del imagen de fondo  */
    background-position: top right; /* [center, bottom, top] [center, left, right] */

    /*  especifica si la imagen de fondo debe desplazarse o ser fija  */
    background-attachment: scroll;  /* scroll, fixed */
}

div.img-externo {
    background-color: rgba(0, 28, 0, 0.3);
    background-image: url("https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__340.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.background-shorthand {
    /* background-color background-image background-repeat background-position background-size  */
    background: #ccc url("img/images.jpeg") no-repeat center center / 600px 600px;
}