/** BACKGROUND **/

div.bkg {
    width: 60%;
    height: 60px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.border {
    /* Especifica el tamaño o grosor del borde*/
    border-width: 5px; 

    /* Especifica el estilo del borde*/
    border-style: solid; /* solid, dotted, dashed, double, groove, none, hidden, ridge, inset, outset */
    border-color:rgba(0, 128, 0, 0.3);
    border-radius: 10px;
}

div.border-sides {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}

div.border-color {
    /* Obligatorio */
    border-style: solid;

    border-top-color: #f00;
    border-left-color: #00f;
    border-right-color: #0f0;
    border-bottom-color: #009f00;
}

div.border-shorthand {
    /*  border-width, border-style, order-color  */
    border: 5px solid #000;
}
