/** LISTS **/

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

ul.list {
    /* Especifica el tipo de marcador de elemento de lista. */
    list-style-type: square;

    /* Especifica la posición de los marcadores de elementos de la lista (viñetas) */
    list-style-position:  outside;

    /* Especifica una imagen como marcador de elemento de lista. */
    list-style-image: url("https://cdn-icons-png.flaticon.com/128/1182/1182721.png");
}

ul.list-custom{
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}

ul.list-shorthand{
    list-style: square inside url("https://cdn-icons-png.flaticon.com/128/1182/1182721.png");
}