/** border-image **/

div.bkg {
    width: 60%;
    height: 350px;
    background-color: rgba(0, 128, 0, 0.3);
}

div.border-img-1, div.border-img-2, div.border-img-3 {
    margin: 14px;
}

div.border-img-1 {
    border: 10px solid transparent;
    padding: 15px;    
    border-image: url("https://www.w3schools.com/css/border.png") 50 round;
}

div.border-img-2 {
    border: 10px solid transparent;
    padding: 15px;    
    border-image: url("https://www.w3schools.com/css/border.png") 20% round;
}


div.border-img-3 {
    border: 10px solid transparent;
    padding: 15px;    
    border-image: url("https://www.w3schools.com/css/border.png") 30% round;
}


div.border-img-4 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("https://www.w3schools.com/css/border.png") 30 stretch;
}