/** padding **/

/*
Los márgenes se utilizan para crear 
espacio alrededor de los elementos, 
fuera de los bordes definidos.
*/

div.bkg {
    width: 60%;
    height: 120px;
    background-color: rgba(0, 128, 0, 0.3);
}

p {
    border: 1px solid red;
}

p.padding {
    padding-top: 40px;
    padding-bottom: 120px;
    padding-right: 560px;
    padding-left: 250px;
}

p.padding-two-value {
    /* [padding-top, padding-bottom] [padding-right, padding-left]*/
    padding: 20px 20px;
}

p.padding-shorthand {
    /* padding-top, padding-bottom, padding-right, padding-left */
    padding: 30px 12px 30px 12px ;
}
