/** text-effect **/

div.bkg {
    width: 60%;
    height: 350px;
    background-color: rgba(0, 128, 0, 0.3);
}

/*** Estilos para el ejemplo 1 */
div.ejemplo1 p.ej1 {
    /* ! */
    width: 460px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    border: 2px solid;
}

div.ejemplo1 p.ej2 {
    /* ! */
    width: 460px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border: 2px solid;
}

/*** Estilos para el ejemplo 2 */
div.ejemplo2 p.ej1 {
    width: 360px;
    height: 75px;
    word-wrap: keep-all;

    border: 2px solid;
}
